# Ignore Mac system files
.DS_store

# Ignore node_modules folder
node_modules

# Ignore all text files
*.txt

# Ignore files related to API keys
.env

# Ignore SASS config files
.sass-cache

#How to Untrack Files Previously Committed from New Gitignore
#To untrack a single file, ie stop tracking the file but not delete it from the system use:

#git rm --cached filename